{% extends 'base.html' %} {% block content %}

<form class="form-upload" method="POST" enctype="multipart/form-data">
  <h3>Novo Ranking</h3>
  <div>
    <label for="nome_disciplina">Nome da Disciplina:</label><br />
    <input type="text" name="nome_disciplina" id="nome_disciplina" required />
  </div>

  <div>
    <label for="file" class="custom-file-upload">
      <div>
        <i class="fas fa-upload"></i>
        <span>Clique para selecionar a planilha</span>
      </div>
    </label>

    <span id="file-name-display">Nenhum arquivo selecionado</span>

    <input
      type="file"
      name="file"
      id="file"
      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      required
    />
  </div>

  <button type="submit">Enviar e Classificar</button>
</form>

{% if erro %}
<p class="error-message">{{ erro }}</p>
{% endif %}

<h3>Rankings Salvos</h3>
{% if classificacoes %}
<ul class="lista-rankings">
  {% for c in classificacoes %}
  <li>
    <a
      href="{{ url_for('ver_ranking', id_classificacao=c.id) }}"
      class="ranking-link-main"
    >
      <span>{{ c.nome_disciplina }}</span>
      <i class="fas fa-chevron-right"></i>
    </a>

    <form
      method="POST"
      action="{{ url_for('delete_classificacao', id_classificacao=c.id) }}"
      class="form-delete"
    >
      <button
        type="submit"
        class="btn-delete"
        onclick="return confirm('Tem certeza que deseja excluir esta classificação? Todo o ranking será perdido.');"
      >
        <i class="fas fa-trash"></i>
      </button>
    </form>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Nenhum ranking foi enviado ainda.</p>
{% endif %} {% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
